* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#wrapper {
    background-color: rgb(233, 148, 148);
    padding-left: 20px;
    padding-bottom: 20px;
}

/* -------------------------------------- */
/* Gestion de l'affichage des cards       */
/* -------------------------------------- */
#todoCards {
    display: flex;
    gap: 10px;
}
.todoCard {
    position: relative;
    width: 163px;
}

/* -------------------------------------- */
/* Gestion du bouton DELETE               */
/* -------------------------------------- */
#btn {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 500px;
}
.delBtn {
    position: absolute;
    bottom: 0;
    transform: translate(-25px, -5px);
}